In [47]:
#import Dependencies
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [48]:
#create austin crime df
df_2014 = pd.read_csv('2014_Housing_Market_Analysis_Data_by_Zip_Code.csv',low_memory=False)
df_2014.head()

,Zip Code,Population below poverty level,Median household income,"Non-White, Non-Hispanic or Latino","Hispanic or Latino, of any race",Population with disability,Unemployment,Large households (5+ members),"Homes affordable to people earning less than $50,000","Rentals affordable to people earning less than $25,000",...,Rental units affordable to average teacher,Owner units affordable to average teacher,Rental units affordable to average tech worker,Owner units affordable to average tech worker,"Change in percentage of population below poverty, 2000-2012","Change in median rent, 2000-2012","Change in median home value, 2000-2012",Percentage of homes within 1/4-mi of transit stop,Average monthly transportation cost,Percentage of housing and transportation costs that is transportation-related
0,78726.0,9%,$66096,16%,20%,3%,4%,2%,0%,1%,...,70%,0%,99%,17%,375%,20%,55%,2%,$786,40%
1,NaN,19%,$52431,16%,35%,8%,7%,8%,24%,10%,...,74%,22%,98%,58%,65%,31%,74%,29%,$668,38%
2,78724.0,38%,$35711,29%,63%,8%,8%,28%,85%,16%,...,78%,84%,100%,96%,208%,37%,46%,21%,$786,40%
3,78617.0,18%,$43957,12%,67%,10%,15%,23%,NaN,11%,...,63%,NaN,99%,NaN,101%,74%,21%,16%,$865,42%
4,78701.0,20%,$68152,16%,14%,10%,9%,0%,7%,7%,...,29%,7%,90%,30%,12%,115%,59%,97%,$433,23%

In [49]:
#clean-up data
df_2014 = df_2014.dropna(how="any")
df_2014.shape

(35, 30)

In [50]:
df_2014["Median household income($)"] = df_2014["Median household income"].map(lambda x: x.lstrip("$"))
del df_2014["Median household income"]
df_2014["Population below poverty level(%)"] = df_2014["Population below poverty level"].map(lambda x: x.rstrip("%"))
del df_2014["Population below poverty level"]
df_2014["Unemployment(%)"] = df_2014["Unemployment"].map(lambda x: x.rstrip("%"))
del df_2014["Unemployment"]
df_2014.head()

,Zip Code,"Non-White, Non-Hispanic or Latino","Hispanic or Latino, of any race",Population with disability,Large households (5+ members),"Homes affordable to people earning less than $50,000","Rentals affordable to people earning less than $25,000",Rent-restricted units,Housing Choice Voucher holders,Median rent,...,Owner units affordable to average tech worker,"Change in percentage of population below poverty, 2000-2012","Change in median rent, 2000-2012","Change in median home value, 2000-2012",Percentage of homes within 1/4-mi of transit stop,Average monthly transportation cost,Percentage of housing and transportation costs that is transportation-related,Median household income($),Population below poverty level(%),Unemployment(%)
0,78726.0,16%,20%,3%,2%,0%,1%,0%,0%,$1050,...,17%,375%,20%,55%,2%,$786,40%,66096,9,4
2,78724.0,29%,63%,8%,28%,85%,16%,38%,20%,$962,...,96%,208%,37%,46%,21%,$786,40%,35711,38,8
4,78701.0,16%,14%,10%,0%,7%,7%,9%,0%,$1590,...,30%,12%,115%,59%,97%,$433,23%,68152,20,9
5,78702.0,18%,56%,14%,10%,21%,41%,39%,2%,$766,...,67%,3%,73%,207%,96%,$590,39%,34734,33,11
6,78703.0,9%,9%,6%,4%,3%,11%,0%,0%,$1183,...,13%,7%,65%,104%,67%,$629,25%,92606,10,4

In [51]:
df_2014_dataset = df_2014[["Zip Code","Median household income($)", "Population below poverty level(%)","Unemployment(%)"]]
df_2014_dataset.reset_index()
df_2014_dataset.head()

,Zip Code,Median household income($),Population below poverty level(%),Unemployment(%)
0,78726.0,66096,9,4
2,78724.0,35711,38,8
4,78701.0,68152,20,9
5,78702.0,34734,33,11
6,78703.0,92606,10,4

In [52]:
df_2014_dataset.head()

,Zip Code,Median household income($),Population below poverty level(%),Unemployment(%)
0,78726.0,66096,9,4
2,78724.0,35711,38,8
4,78701.0,68152,20,9
5,78702.0,34734,33,11
6,78703.0,92606,10,4

In [53]:
df_2014_dataset.shape

(35, 4)

In [54]:
df_2014_dataset.to_csv("2014_household_dataset.csv")